# Install with pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit
-e git+https://github.com/OA-DeepGreen/esprit.git@ebead66bd64ff24172bd8aaccb9247576c45949c#egg=esprit
